body {
  font-family: Montserrat;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.arrow_down {
  width: 5px;
  height: 4px;
  margin-top: 7px;
  margin-left: 5px;
}

.arrow_right {
  width: 50px;
  height: 8px;
}

.arrow_shopcard {
  width: 46px;
  height: 17px;
}

.shopcard {
  width: 30px;
  height: 28px;
}

.social {
  width: 24px;
  height: 24px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
}

.h_container {
  width: 100vw;
  background-color: #F9F6F1;
  background-size: cover;
  border: 1px solid #F9F6F1;
}

.nav {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  height: 17px;
}

.nav a {
  margin-left: 35px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a:first-child {
  margin-left: 0;
}

.shopcard_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 101px;
}

.shopcard {
  margin-top: -7px;
}

.arrow_shopcard {
  margin-left: 15.25px;
  margin-top: 2px;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-top: -11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_container .logo {
  width: 40px;
  height: 40px;
}

.logo_container .logoName {
  margin-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.slyder_container {
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_slyder_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 570px;
  height: 224px;
}

.left_slyder_container h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
}

.left_slyder_container span {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
}

.left_slyder_container .main_btn {
  margin-top: 55px;
}

.right_slyder_container {
  left: -30px;
  width: 556px;
  position: relative;
  height: 377px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.right_slyder_container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  line-height: 14px;
  top: 40px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
}

.right_slyder_container span:first-child {
  margin-top: 40px;
  margin-right: 7px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.right_slyder_container span:nth-child(2) {
  padding-top: 14px;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #D84033;
}

.rect_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 249px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
}

.rect_buttons div {
  margin-left: 15px;
}

.rect_btn {
  width: 40px;
  height: 7px;
  left: 857px;
  top: 723px;
  background-color: #CECECE;
}

.rect_btn_highligted {
  width: 40px;
  height: 7px;
  left: 857px;
  top: 723px;
  margin-left: 15px;
  background-color: #D7B399;
}

.main_btn {
  background-color: #D7B399;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 220px;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.arrow-btn {
  background-color: #D7B399;
  width: 80px;
  height: 30px;
  text-align: center;
}

.free_delivery {
  width: 100vw;
  height: 235px;
  background-color: #212121;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free_delivery span {
  font-style: normal;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 23px;
}

.free_delivery p {
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.collection_pic {
  margin-top: 79px;
  width: 190px;
  height: 171px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0;
}

.men-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 250px;
  background-color: #F9F6F1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.men-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 25px;
  width: 366px;
  height: 132px;
  margin-top: 61px;
  margin-bottom: 58px;
  font-style: normal;
}

.men-col .men-col-text div:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.men-col .men-col-text div:last-child {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.men-col .arrow-btn {
  margin-top: 15px;
}

.women-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 250px;
  background-color: #F4F4F4;
}

.women-col {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 25px;
  width: 366px;
  height: 132px;
  margin-bottom: 58px;
  margin-left: 36px;
}

.women-col .women-col-text div:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.women-col .women-col-text div:last-child {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.women-col .arrow-btn {
  margin-top: 15px;
}

.catalog {
  position: relative;
}

.catalog ul {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog li {
  width: 237px;
  height: 236px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog li:nth-child(odd) {
  background-color: #F4F4F4;
}

.catalog li:nth-child(even) {
  background-color: #F9F6F1;
}

.catalog span {
  display: block;
  margin-top: 186px;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}

.new_models_pic {
  width: 205px;
  height: 211px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.new_models_title {
  margin-top: 150px;
  margin-bottom: 103px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* Black */
  color: #212121;
}

.new_models_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new_models_flex a {
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  margin-right: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new_models_flex a span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.new_models_flex a .border {
  position: relative;
  bottom: 330px;
  height: 350px;
  margin-bottom: -350px;
}

.main-text {
  margin-top: 15px;
  color: #D7B399;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #D7B399;
}

.center {
  margin-top: 103px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe_container {
  width: 100vw;
  height: 235px;
  background-color: #212121;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_container .main_btn {
  width: 185px;
  height: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 35px;
}

.subscribe_container input {
  width: 255px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F6F1;
  margin-left: 60px;
  text-align: left;
  text-indent: 20px;
  border: none;
}

.footer {
  width: 100vw;
  height: 311px;
  background-color: #212121;
  color: #ffffff;
  color: white;
  margin-right: 0;
}

.footer .footer_container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 22px;
}

.footer .logo_container {
  margin-top: 0;
  color: white;
}

.footer .logo_footer_container {
  margin-left: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-right: 223px;
}

.footer .logo_footer_container span {
  margin-top: 39px;
  width: 200px;
  color: #CBCFD4;
}

.footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-links-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer-links-col .footer_link_title {
  color: white;
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.footer-links-col a {
  color: #CBCFD4;
  margin-bottom: 10px;
}

.footer-links-col:nth-child(1) {
  margin-right: 84px;
  width: 137px;
}

.footer-links-col:nth-child(2) {
  margin-right: 76px;
  width: 150px;
}

.footer-links-col:nth-child(3) {
  margin-right: 53px;
  width: 160px;
}

.footer-links-col span {
  margin-left: 5px;
}

.bottom_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 23px;
}
/*# sourceMappingURL=index.css.map */