.body
    font-family: Montserrat;

.hero
    margin-left: auto
    margin-right: auto
    width: 1110px
    font-family: Montserrat;

.h_container
    width: 100vw
    background-color: #F9F6F1
    background-size: cover
    margin: auto
    border: 1px solid #F9F6F1
    
        
.nav
    margin-top: 61px
    display: flex
    direction: row
    height: 17px

    a
        margin-left: 35px
        display: flex
        &:first-child
            margin-left: 0

.shopcard_container
    display: flex
    margin-left: 101px

.shopcard
    margin-top: -7px

.arrow_shopcard
    margin-left: 15.25px
    margin-top: 2px

.logo_container
    display: flex
    width: 201px
    height: 40px
    margin-top: -11px
    // margin-left: 91px
    justify-content: center

    .logo
        width: 40px
        height: 40px
    .logoName
        margin-left: 20px
        margin-top: 10px

.slyder_container
    margin-top: 250px
    display: flex

.left_slyder_container
    display: flex
    flex-direction: column
    width: 570px

    height: 224px
    span
        margin-bottom: 35px

.right_slyder_container
    left: -30px
    width: 556px
    position: relative
    height: 377px
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    span
        display: flex
        justify-content:  right
        line-height: 14px

        top: 40px

        &:first-child
            margin-top: 40px
            margin-right: 7px
        &:nth-child(2)
            padding-top: 14px

.rect_buttons
    display: flex
    margin-top: 249px
    justify-content: center
    padding-bottom: 70px
    div
        margin-left: 15px

.rect_btn
    width: 40px;
    height: 7px;
    left: 857px;
    top: 723px;
    background-color: #CECECE;

.rect_btn_highligted
    width: 40px;
    height: 7px;
    left: 857px;
    top: 723px;
    margin-left: 15px
    background-color: #D7B399;

.main_btn
    padding: 17px 30px 18px 29px
    background-color: #D7B399
    color: #ffffff
    display: inline-block
    border: none
    flex-shrink: 0
    width: max-content
    min-width: 80px
    text-align: center

.arrow-btn
    padding: 15px 30px 15px 30px
    background-color: #D7B399
    width: 80px
    text-align: center
    
    
.free_delivery
    width: 100vw
    height: 235px
    background-color: #212121
    color: #ffffff
    font-family: Montserrat;
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.collections
    display: flex
    
.men_women-col
    display: flex

.men-col
    width: 100%
    border: 1px solid black

.women-col
    width: 100%
    border: 1px solid black


.arrow_down
    width: 5px
    height: 4px
    margin-top: 10px
    margin-left: 5px

.arrow_right
    width: 50px
    height: 8px

.arrow_shopcard
    width: 46px
    height: 17px

.shopcard
    width: 30px
    height: 28px

.social
    width: 24px
    height: 24px

a
    text-decoration: none
    color: black

